table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}
th, td {
  padding: 15px;
  vertical-align: top;
}/* You can add global styles to this file, and also import other style files */
